//global
p, li {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
}

ul {
  list-style: none;
}

ul.btn_list {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  li.btn {
    background: aqua;
    margin: 2px;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    * {
      text-decoration: none;
      color: #000;
    }
  }
}


/******************Index********************/

//header
header {
  background: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // padding: 20px 0;
  box-sizing: border-box;
  height: 42vh;
  h1 {
    margin: 0;
  }
}

//nav
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(181, 108, 179);
  box-sizing: border-box;
  height: 40vh;
}

//authentication box
div.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: silver;
  box-sizing: border-box;
  height: 18vh;
}

/******************Borough Page********************/

//borough page header
header.Headborough-div-userinfo{
 flex-direction: row;
 justify-content: flex-start;
 height: 15vh;
 img {
  height: 70px;
  width: 70px;
  margin: 10px;
  border-radius: 100%;
 }
 img.Borough-logo {
  height: 90px;
  width: 120px;
  margin-right: auto;
  margin-left: 0;
 }
}

//Main pic
.Borough-pic{
height: 40vh;
width: 100%;
}

//tab styling
#uncontrolled-tab-example{
  li[role="presentation"] {
    background: rgb(181, 108, 179);
    font-size: 1.4em;
    text-align: center;
    a {
      color: #000;
    }
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .tab-content>.active {
  background: ivory;
}

ul.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  li {
    flex: 1;
  }
}

//store content
.Div-Storecontent {
  margin-bottom: 10px;
  background: aqua;
  padding: 5px;
  img {
    height: 200px;
    width: 100%;
    margin: auto;
  }
  h2.store_name {
    margin: 0;
    line-height: 1.4em;
    font-size: 1.6em;
    text-align: center;
  }
  p {
    margin: 15px 5px;
    text-align: justify;
    font-size: 1.2em;
  }
  p.store_address {
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.4em;
  }
}

//boro review content
.BoroughReview-div {
  margin-bottom: 10px;
  background: aqua;
  padding: 10px;
  text-align: justify;
  h2 {
    font-style: italic;
    font-size: 1.6em;
  }
  form {
    display: flex;
    justify-content: space-around;
  }
}

//media query
@media only screen and (min-width: 769px) {
  body {
    background: aqua; 
    // display: flex;
    // justify-content: space-between;
  }

  header {
    height: 33vh;
    // img {
    //   border: 1px solid black;
    // }
  }

  nav {
    height: 34vh;
    width: 70%;
    margin: 20px auto;
    ul.btn_list {
      width: 80%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  div.authentication {
    height: 25vh;
    width: 40%;
    margin: 20px auto;
    ul.btn_list {
      justify-content: center;
    }
  }
}